<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect from root to /public
    RewriteRule ^$ /public/ [L]

    # Redirect all other requests to /public preserving the requested path
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>
